<script>
  mixpanel.track("Landing_B_loaded",{"Page Name": "Landing_B_loaded"});
  mixpanel.track_links("#suscribirmeLanding", "clicked suscribirme button");
  mixpanel.track_links("#DescargarGuíaPrueba_LB", "clicked descargar guía prueba landing B");
</script>


<div class="container-fluid col-xs-12 col-md-12" id="container-total">
  <div class="container" id="containerPrimario" >
    <div class="row" id="row1">
      <div class=" col-md-2"></div>
        <div class="col-xs-12   col-md-8 " style="margin-top:200px">
          <div class="colCentral" style="background: rgba(0,0,0,.85); border-radius: 18px;margin:auto;padding: 10px;">
            <h1 style="font-size:60px;">¿Sabes por qué la mayoría de los<strong style="color:yellow"> negocios </strong> fracasan?</h1>
             <hr>
            <!-- <h2 style="font-size:15px; line-height: 30px"> <span>Resumidas, </span> <span>Prácticas,</span> <span>en Español</span></h2> -->
            <div>

            </div>
          </div> <!--termina div colcentral -->
        </div> <!-- div col8 finaliza -->
        <div class="col-md-2"></div>
      </div>
    </div><!--termina el row1-->
</div><!--termina container primario-->
<br><br>

<section id="response">
  <div class="container">
      <h1 style="color:black">Porque necesitan aprender cómo</h1> <br>
      <div class="row">
      <div class="col-sm-4 ">
        <i class="fa fa-lightbulb-o fa-5x"></i>
        <h3 class="well" style="background-color:white;padding: 31px;">Identificar  nuevas oportunidades que si se conviertan en negocios rentables </h3>
      </div>
      <div class="col-sm-4">
      <i class="fa fa-check-circle fa-5x"></i>
      <h3 class="well" style="background-color:white;padding: 31px;">Validar si sus ideas atienden necesidades reales del mercado </h3>
      </div>
      <div class="col-sm-4">
      <i class="fa fa-rocket fa-5x"></i>
      <h3 class="well" style="background-color:white;padding: 18px;">Obtener, retener y crecer el número de clientes para generar negocios rentables y escalables</h3>
      </div>

      </div>
  </div>

</section> <br><br><!-- termina section respuesta -->



<section id="howwehelp">
  <div class="container-fluid" style="background-color:black">
    <h2 style="color:white">Innovation Lessons pone a tu alcance las <strong style="color:yellow"> guías con las mejores prácticas</strong> que <strong style="color:yellow"> emprendedores </strong> y <strong style="color:yellow"> profesionales exitosos </strong> usan para <strong style="color:yellow"> iniciar y crecer negocios rentables y escalables </strong></h2>
  </div>

</section><!-- termina section howwehelp -->


<section <section id="howitworks">

<div class="container-fluid" style="background-color:black" >
      <br><br><br>
      <hr>
      <h1 style="color:yellow">ASÍ FUNCIONA</h1>
      <hr>
      <br><br><br><br>
      <div class="row">
      <div class="col-sm-4 " >
        <i class="fa fa-credit-card fa-4x" style="color:white"></i>
        <h2 style="color:yellow">Suscríbete</h2>
        <h3 class="well" style="color:white; background-color:black;padding: 54px;">Y conoce las mejores prácticas que aplican los emprendedores y profesionales exitosos para iniciar y crecer sus negocios</h3>
      </div>
      <div class="col-sm-4">
      <i class="fa fa-download fa-4x" style="color:white"></i>
      <h2 style="color:yellow">Recibe</h2>
      <h3 class="well" style="color:white; background-color:black; padding: 43px;">Todos los miércoles una guía con las mejores prácticas,  concretas, actualizadas y especializadas, que te guiarán paso a paso en cómo iniciar y crecer tu negocio</h3>
      </div>
      <div class="col-sm-4">
      <i class="fa fa-line-chart fa-4x" style="color:white"></i>
      <h2 style="color:yellow">Crece</h2>
      <h3 class="well" style="color:white; background-color:black;padding: 31px;">Aplicando las mejores prácticas durante la semana, identificando cuáles funcionan mejor para ti, replicando semana a semana aquellas que hacen crecer tu negocio</h3>
      </div>

      </div>
  </div>

</section><!-- termina section howotworks --> <br>



<section id="whatyougetspecified">
  <div class="container">
      <h1 style="color:black">Cada miércoles recibes una guía que te ayudará a alcanzar alguno de los siguientes objetivos</h1> <br>
      <div class="row">
        <div class="well col-sm-4 ">
          <i class="fa fa-lightbulb-o fa-5x"></i>
          <h4 class="well" style="background-color:black;color:white"> identificar y validar necesidades reales del mercado que se pueden convertir en negocios rentables</h4>
        </div>
        <div class="col-sm-4 well">
        <i class="fa fa-check-circle fa-5x"></i>
        <h4 class="well" style="background-color:black;color:white"> crear soluciones (productos/servicios) que se vendan y conseguir los primeros clientes/usuarios para tu negocio</h4>
        </div>
        <div class="col-sm-4 well">
        <i class="fa fa-rocket fa-5x"></i>
        <h4 class="well" style="background-color:black;color:white;padding: 28px;"> <strong>crecer tu negocio para convertirlo en una fuente de ingresos rentable y escalable </h4>
        </div>
      </div>
      <div class="row" style="background-color:black;color:yellow">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h2> y todo nuestro contenido es en español</h2>
        </div>
        <div class="col-sm-2"></div>
      </div>
  </div>

</section> <br><br><br><br><br><br><!-- termina section whatyougetspecified -->
<hr>
<%= render 'download_free_sample' %>

<hr>
<br><br><br><br><br><br>

<section class="section-emprendedores" > <!-- inicia section logos empresas -->
  <%= render "entrepreneurs_bio_section" %>
</section> <!-- termina section logos empresas -->

<section class="section-logos-empresas">
  <%= render "logos_companies_section" %>
</section>

<hr>
<section>
  <div class="callToAction">
        <div class="container">
         <div class="row">
          <div class="col-sm-2"></div>
            <div class="col-sm-8">
                  <a href="https://docs.google.com/forms/d/1wC5o2P9Le4DZaWVnSirq2-1DnoYOt7H9OKB5pDZS9mk/viewform" id= "DescargarGuíaPrueba_LB", class="btn btn-default btn-lg btn-block", style= "color:grey", target="_blank">Descarga GRATIS la Guía #1</a>
                 <%= link_to"Si, ayúdenme a crecer mi negocio por 10.99/mes",landing_pages_subscribe_path, id: "suscribirmeLanding", class: "btn  btn-lg btn-block", style: "color:white; background-color:orange" %>
            </div>
          </div>
           <div class="col-sm-2"></div>
        </div>
    </div>
</section> <!-- termina section II botones subscription -->
<hr>
<br><br><br><br><br><br>



<!-- <section class="section-logos" >  inicia section logos empresas -->
  <%#= render "logos_companies_section" %> <!--
</section> termina section logos empresas -->

<section id="asesores">

  <div class="container-fluid" style="background: rgba(0,0,0,.40); margin-bottom: -38px;" >
    <div class="row">
      <!-- <div class="col-xs-12 col-sm-4" style="margin-top: 60px;">
        <br>
        <img src="https://farm7.staticflickr.com/6017/5998133376_886ae8ffeb_n.jpg" alt="">
      </div> -->
      <div class="col-xs-12 col-sm-8" style="text-align:left; margin:auto;padding: 10px; color:white; margin-bottom: -38px;padding:50px;">
        <h1 style="color:yellow">Aseores en innovación y emprendimiento usan Innovation Lessons para:</h1> <br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Actualizar las herramientas, procesos, metodologías y recomendaciones que utilizan con sus clientes</h4><br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span> Mantenerse actualizados y a la vanguardia respecto a las mejores prácticas para generar y crecer nuevos negocios con componentes de innovación</h4><br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Consultar las mejores prácticas que se están implementando en la actualidad para brindar a sus clientes  conocimiento efectivo, concreto y especializado que ayuda a alcanzar los resultados de empresas y startups</h4><br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Ahorrar tiempo y dinero con la posibilidad de consultar una sola fuente de información que agrupa las mejores prácticas del mundo relacionadas con innovación y emprendimiento</h4><br>
      </div>
    </div>
  </div> <br> <br>
</section> <!-- termina asesores section -->

<section id="Emprendedores">

  <div class="container-fluid" style="background: rgba(0,0,0,.43); margin-bottom: -38px;">
    <div class="row">
      <div class="col-xs-12 col-sm-4" > </div>

      <div class="col-xs-12 col-sm-8" style="text-align:right ;margin:auto;padding: 10px; color:white; margin-bottom: -38px;padding:50px;">

          <h1 style="color:yellow" style="text-align:left">Emprendedores usan Innovation Lessons para:</h1> <br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span>Aprender a validar hipótesis relacionadas con nuevas ideas de negocio</h4><br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span> Implementar las mejores prácticas para ideación, prototipado y validación de ideas de negocio</h4><br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span> Diseñar e implementar  las mejores prácticas para adquirir, retener y crecer sus clientes</h4><br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span> Diseñar e implementar las mejores prácticas para incrementar las ventas de sus negocios B2B o B2C</h4><br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span> Implementar las mejores prácticas de growth-hacking</h4><br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span>Generar y validar nuevos modelos de negocio para crear empresas rentables y escalables</h4><br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span>Ahorrar tiempo y dinero con la posibilidad de consultar una sola fuente de información que agrupa las mejores prácticas del mundo relacionadas con innovación y emprendimiento </h4><br>

      </div>
    </div>
  </div> <br> <br>

</section> <!-- termina section emprendedores -->

<section id="Profesionales">

  <div class="container-fluid" style="background: rgba(0,0,0,.43); margin-bottom: -38px;">

    <div class="row">

      <div class="col-xs-12 col-sm-8" style="text-align:left ;margin:auto;padding: 10px; color:white; margin-bottom: -38px;padding:50px;">

        <h1 style="color:yellow">Profesionales exitosos usan Innovation Lessons para:</h1> <br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Tomar decisiones de negocio acertadas fundamentadas en una fuente de referencia confiable, práctica y actualizada</h4><br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span> Aumentar su productividad generando propuestas disruptivas que llevan su desempeño y reconocimiento profesional al máximo nivel,  para alcanzar el éxito en su carrera</h4><br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Mantenerse actualizados y a la vanguardia respecto a las estrategias, herramientas, procesos y metodologías que utilizan profesionales y empresarios exitosos para innovar como startups</h4><br>


        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Desarrollar competencias prácticas para la toma de decisiones en el campo del desarrollo de producto, generación de modelos de negocio, marketing, ventas y experiencia de usuario enfocados en innovar como startups </h4><br>

      </div>
      <div class="col-xs-12 col-sm-4"></div>
    </div>
  </div><br><br>
</section> <!-- termina section profesionales -->
<hr>


<section id="infoyouwillfind">
  <div class="container">
      <h1 style="color:black">Aprenderás las mejores prácticas, especializadas, actualizadas y concretas para</h1> <br>
      <div class="row">
        <div class="well col-sm-4 ">
          <i class="fa fa-lightbulb-o fa-5x"></i>
          <h4>Identificar  nuevas oportunidades de negocio que sean rentables</h4> <br>
          <h4>Generar ideas que atiendan a necesidades reales del mercado </h4> <br>
          <h4>Estructurar e implementar procesos de entrevista para hablar con clientes potenciales</h4> <br>
          <h4>Identificar qué problemas, necesidades y motivaciones tienen los clientes y usuarios potenciales de un nuevo negocio</h4> <br>
          <h4>Conocer como los clientes y usuarios potenciales evalúan y adoptan nuevos productos o servicios</h4> <br>
          <h4>Validar si las personas entienden la propuesta de valor de un nuevo negocio </h4>
          <h4 class="well" style="background-color:black;color:yellow"> <strong>lean UX, customer discovery, design thinking, service design, research, generación de modelos de negocio...</strong> </h4>
        </div>
        <div class="col-sm-4 well">
        <i class="fa fa-check-circle fa-5x"></i>
        <h4>Validar si las personas entienden la propuesta de valor de un nuevo negocio </h4> <br>
        <h4>Validar si clientes y usuarios potenciales perciben valor en una solución</h4> <br>
        <h4>Identificar qué mensajes son más efectivos al explicar un nuevo producto o servicio</h4> <br>
        <h4>Validar si usuarios y clientes potenciales entienden como usar un nuevo producto o servicio</h4> <br>
        <h4>Validar por qué las personas no adoptan nuevas funcionalidades o servicios cuando se han lanzado al mercado</h4> <br>
        <h4>Adquirir los primeros usuarios y clientes para un nuevo negocio</h4> <br>
        <h4>Validar modelos de negocio</h4>
        <h4 class="well" style="background-color:black;color:yellow"> <strong>lean startup, customer development, prototipado, aquisición de usuarios, engagement, analytics, MVP, pitch, validación de modelos de negocio ...</strong> </h4>
        </div>
        <div class="col-sm-4 well">
        <i class="fa fa-rocket fa-5x"></i>
        <h4>Identificar y validar palancas de crecimimiento del negocio</h4> <br>
        <h4>Desarrollar e implmentar estrategias de adquisición, retención y crecimiento de clientes a través de canales online e "inbound marketing"</h4> <br>
        <h4>Desarrollar e implmentar estrategias de adquisición, retención y crecimiento de clientes a través de canales offline y "outbound marketing"</h4> <br>
        <h4>Conocer por qué usuarios y clientes dejan de usar un producto o servicio</h4> <br>
        <h4>Implementar estrategias de optimización de productos y servicios</h4><br>
        <h4>Desarrollar estrategias de optimización de canales de adquisición de clientes</h4><br>
        <h4>Implemnetar herramientas de analítica para medir las métricas relevantes para el negocio</h4><br>
        <h4 class="well" style="background-color:black;color:yellow"> <strong>growth hacking, copy, optimización, ventas, marketing online, crecimiento, scale up ...</strong> </h4>
        </div>

      </div>
  </div>

</section> <br><br><!-- termina section infoyouwillfind -->

<hr>
<section>
  <div class="callToAction">
        <div class="container">
         <div class="row">
          <div class="col-sm-2"></div>
            <div class="col-sm-8">
                 <a href="https://docs.google.com/forms/d/1wC5o2P9Le4DZaWVnSirq2-1DnoYOt7H9OKB5pDZS9mk/viewform" id= "DescargarGuíaPrueba_LB", class="btn btn-default btn-lg btn-block", style= "color:grey", target="_blank">Descarga GRATIS la Guía #1 </a>
                 <%= link_to"Si, ayúdenme a crecer mi negocio por 10.99/mes", landing_pages_subscribe_path, id: "suscribirmeLanding", class: "btn  btn-lg btn-block", style: "color:white; background-color:orange" %>
            </div>
          </div>
           <div class="col-sm-2"></div>
        </div>
    </div>
</section> <!-- termina section III botones subscription -->
<hr>
<br><br><br><br><br><br>

<section id="FAQ" class="container">
  <div class="row">
    <div class="col-m2"></div>
    <div class="col-m4">
      <h1>Preguntas frecuentes</h1>
    </div>
    <div class="col-m2"></div>
  </div>
  <div class="row">
    <div class="well col-md-6">
      <h3>¿qué recibiré por mi suscripción?</h3>
      <p> Recibirás un correo con  1 Guía semanalmente. Cada Guía corresponde a una mejor práctica(concreta, aplicable y especializada) relacionada con alguna de las fases de desarrollo de negocios (descubrimiento de oportunidades, validación de soluciones, crecimiento). En total recibirás 4 guías al mes.  Aplícalas o úsalas como fuente de referencia para la toma de decisiones y acciones de negocio</p>
      <p>Adicionalmente tendrás acceso al repositorio de todas las Guías de Mejores Prácticas de innovation lessons que se hayan creado y compartido con los contribuyentes a la fecha de tu suscripción</p>
    </div>
    <div class="well col-md-6">
      <h3>¿estoy sujeto a permanencia con el servicio por un largo tiempo?</h3>
      <p style="margin-bottom: 108px;">No. Puedes cancelar en cualquier momento así como volverte a unir si consideras valioso disminuir el riesgo de crecer tu negocio ahorrando tiempo y dinero</p>
    </div>
  </div>
  <div class="row">
    <div class="well col-md-6">
      <h3>¿por qué contribuir $10.99/mes o <span style="color:green">$2.75 </span> por cada guía de las mejores prácticas  y no un valor como <s style="color:red">$299 </s>  que es lo que normalmente cuesta un recurso de estrategias de emprendimiento e innovación?</h3>
      <p style="margin-bottom: 99px;">Queremos brindar acceso a la mayor cantidad de emprendedores y profesionales de Latinoamérica a las mejores prácticas para crear y crecer negocios. La contribución de $10.99 es menos de lo que cuesta un almuerzo y no se compara con el tiempo y dinero que ahorrarás al disminuir el riesgo en la creación de un nuevo negocio o alcanzar las metas profesionales en tu trabajo</p>
    </div>
     <div class="well col-md-6">
      <h3>¿las mejores prácticas que comparten son super especiales y sólo las conocen ustedes?</h3>
      <p style="margin-bottom: 80px;">Las mejores prácticas que compartimos podrías encontrarlas si pasas horas todos los días buscando en internet, leyendo libros, asistiendo a cursos especializados, comprando diversos recursos en línea o haciendo entrevistas con emprendedores y profesionales exitosos y luego convirtiendo los aprendizajes en pasos para aplicarlos y validarlos en el mercado; o puedes simplemente empezar a aplicar desde ya las mejores prácticas que sí funcionan, y  dejar que nosotros hagamos todo este trabajo por ti entregándotelas cada semana, ayudándote a ahorrar tiempo y dinero para que te concentres en el desarrollo de tu negocio/profesional.</p>
    </div>
  </div>
  <div class="row">
    <div class="well col-md-12">
    <h3>quién está detrás de Innovation Lessons</h3>
    <p>Un grupo de emprendedores y advisors en innovación y emprendimiento que por necesidad propia constantemente seleccionamos y aplicamos las mejores prácticas para crear y crecer negocios y ahora queremos compartirlas con los emprendedores y profesionales de Latinoamérica. Aplicables, concretas, actualizadas y en español. Centradas en la acción y en los resultados, no "bullshit"</p>
    </div>
  </div>
</section>  <hr><!-- termina section FAQ-->

<div class="col-xs-12  col-md-12 ">
  <div class="#" id="#">
    <div class="container-fluid" id="#">
      <div class= "row">
        <div class="col-xs-12" style="text-align:center" >
           <h3>No te quedes atrás. Aplica semanalmente las mejores prácticas que te guiarán en el arduo camino de emprender</h3>
        </div>
      </div><!--finaliza row1-->
  <!--inicia ultimo container para signup o signin -->
    </div> <br>
   <hr>
<section>
  <div class="callToAction">
        <div class="container">
         <div class="row">
          <div class="col-sm-2"></div>
            <div class="col-sm-8">

                 <%= link_to"Si, ayúdenme a crecer mi negocio por 10.99/mes", landing_pages_subscribe_path, id: "suscribirmeLanding", class: "btn  btn-lg btn-block", style: "color:white; background-color:orange" %>
            </div>
          </div>
           <div class="col-sm-2"></div>
        </div>
    </div>
</section> <!-- termina section IV botones subscription -->
  </div>
</div> <br><br><br>


<div class="col-xs-12  col-md-12 ">
  <footer style=  "margin-top:40px">
        <div class="container">
          <div class="row" >
            <div class="col-xs-12 col-md-6" style="color: #7f8c8d;">
              <p> <small> ¿dudas?, escríbenos a: <strong style="color:black">support@innovationlessons.com</strong> de verdad, escríbenos, queremos saber cómo podemos ayudarte a construir el negocio que quieres o alcanzar los resultados que esperas en tu trabajo </small></p>
            </div>
            <div class="col-xs-12 col-md-6">
              <p><small style="color:#bdc3c7">Copyright &copy; 2015 Innovation Lessons</small> </p>
            </div>
            <!-- <div class="col-sm-6 col-md-4">
                <p><a href="#">Twitter</a><span>
                <a href="#">LinkedIn</a>
            </div><!end col-sm-3 -->
          </div> <!-- end row -->
  </footer>
</div>
